# Credentials for the database
DB_HOST=
DB_NAME=sxf_triagem_db
DB_USER=
DB_PASSWORD=

# App Settings
PORT=3001
JWT_SECRET=
DATABASE_URL=

# SMTP Settings (Email sending)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=noreply@sxf_triagem.org