# Credentials for the database
MYSQL_ROOT_PASSWORD=database
MYSQL_DATABASE=sxf_triagem_db
MYSQL_USER=  # Database user login (Never use root user)
MYSQL_PASSWORD=  # Database user password

# Backend Connection Settings
DB_USER=  # Database user login (Never use root user)
DB_PASSWORD=  # Database user password
DB_NAME=sxf_triagem_db
DB_HOST=database

# App Settings
PORT=3001
SECRET_KEY=  # Secret phrase for credential sessions (Be creative!)

# Admin data for first creation
ADMIN_CPF=  # The admin's CPF
ADMIN_PASSWORD=  # The admin's password for login
ADMIN_EMAIL=  # The admin's email for login and receiving data logs

# SMTP Settings (Email sending)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= # Same email from login
SMTP_PASSWORD=  # String for email communication. Get it in https://myaccount.google.com/apppasswords
SMTP_FROM=noreply@sxf_triagem.org
