# Credentials for the database
MYSQL_ROOT_PASSWORD=database
MYSQL_DATABASE=sxf_triagem_db
MYSQL_USER=
MYSQL_PASSWORD=

# Backend Connection Settings
DB_USER=
DB_PASSWORD=
DB_NAME=sxf_triagem_db
DB_HOST=database

# App Settings
PORT=3001
SECRET_KEY=

# Admin data for first creation
ADMIN_CPF=
ADMIN_PASSWORD=
ADMIN_EMAIL=

# SMTP Settings (Email sending)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email_here
SMTP_PASSWORD=your_app_password_here
SMTP_FROM=noreply@sxf_triagem.org
