* {
  padding: 0;
  margin: 0;
}
::view-transition-group(root) {
  animation-duration: 1s;
  animation-timing-function: ease;
}
::view-transition-old(root) {
  animation-name: slide-out;
}

::view-transition-new(root) {
  animation-name: slide-in;
}

@keyframes slide-out {
  to {
    translate: -100vw;
  }
}

@keyframes slide-in {
  from {
    translate: 100vw;
  }
}