:root {
  --cor-primaria: #2C6975;
  --cor-secundaria: #68B2A0;
  --cor-terciaria: #CDE0C9;
  --cor-quaternaria: #E0ECDE;
  --cor-fundo: #FFFFFF;
  --cor-texto: #323232;
}
.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}